@model delishapplication.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishOrder.First().Dish.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishOrder.First().Dish.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishOrder.First().Dish.Spicy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishOrder.First().Dish.Vegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishOrder.First().Dish.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DishOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.DishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Spicy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Vegan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DishID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DishID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DishID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
